.item {
    height: 160px;
    width: 90%;
    border: solid 1px red;
    margin: 5px 60px 15px 0px;
    box-shadow: 10px 10px 9px 3px red;
}
.texto{
    text-align: center;
}
.item-heading {
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 10px;
    margin-top: 20px;
}

.item-sub-heading {
    font-size: 15px;
    font-family: cursive;
    color: darkgray;
}

.pd {
    padding-top: 20px;
}

.logo {
    height: 80px;
    width: 80px;
    background-color: antiquewhite;
    border-radius: 50%;
    text-align: center;
    font-size: 51px;
    color: red;
    margin-left: 46%;
}

.image-top {
    position: absolute;
    top: 22%;
    left: 20%;
    
}
.container-1
{
    width: 100%;
    height: 65px;
    background-color: red;
    top: 0%;
    float: left;
}
.logo-1 {
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: red;
    margin: 5px;
}
.image-top2
{
    position: absolute;
    top: 5%;
    left: 75%;
}
.dplay
{
    display: inline-block;
    margin-right: 5px;
}
#notebooks {
    display: inline-block;
    left: 38%;
    width: 350px;
    border-radius: 5px;
    max-height: 450px;
}
.button-font
{
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    padding: 4px;
}
#notebooks span {
    display: block;
    position: absolute;
    background: #FFD32E;
    bottom: -35px;
    left: -1px;
    width: 360px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: lightgray;
    color: gray;
    padding-left: 29px;
}
.restaurantsinput {
    height: 40px;
    width: 310px;
    color: gray;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    opacity: 0.7;
    float: left;
    padding-left: 30px;
}
.border
{
    border: solid 1px white;
    
}
.color
{
    color: tomato;
    font-size: 25px;
}
.wallpaper-heading {
    font-size: 55px;
    color: white;
    line-height: 1.5;
}
ul {
    color: azure;
    background-color: gray;
}
.dd {
    width: 160px;
    height: 30px;
}
.search {
    width: 330px;
    height: 30px;
    padding-left: 34px;
}

    .Position
{
    position: absolute;
    left: 2px;
}
.locationSelector {
    position: relative;
    top: -238px;
    margin-left: 27.5%;
    margin-right: 20%;
    text-align: center;
}
.ll{
    margin: 10px 12px 14px 133px;
    float: left;
}
.locationDropdown {
    height: 40px;
    width: 245px;
    color: gray;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    opacity: 0.7;
    margin-right: 21px;
    margin-bottom: 25px;
    float: left;
}

@media only screen and (max-width: 600px) {

    .locationDropdown{
        margin-left: 114px;
    }
    .restaurantsinput {
        height: 40px;
        width: 245px;
        color: gray;
        border: none;
        border-radius: 0px;
        font-size: 15px;
        opacity: 0.7;
        float: left;
    }
    .ll {
        margin: 0px;}
    .locationSelector {
        position: relative;
        top: -238px;
        margin-left: 23.5%;
        margin-right: 20%;
        text-align: center;
    }
    .image-top {
        top: 23%;
        left: 5%;
    }
    .image-top2 {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .logo {
        margin-left: 40%;
    }

    .wallpaper-heading {
        font-size: 25px;
        line-height: 2.5;
    }

    .dd {
        width: 330px;
        margin-bottom: 20px;
    }

    .search {
        width: 330px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 792px) {
    .image-top {
        top: 20%;
        left: 10%;
        right: 10%;
    }
    .locationSelector {
        position: relative;
        top: -238px;
        margin-left: 23.5%;
        margin-right: 20%;
        text-align: center;
    }
    .image-top2 {
        position: absolute;
        top: 5%;
        left: 57%;
    }
    .wallpaper-heading
    {
        font-size: 29px;
        line-height: 2.5;
    }
    .search {
        width: 304px;}
    .button-font 
    {
            color: white;
            font-size: 16px;
            margin-right: 10px;
    }
   
}
@media only screen and (min-width: 792px) and (max-width: 992px) {
    .image-top {
        position: absolute;
        top: 12%;
        left: 8%;
        right: 8%;
    }
    .wallpaper-heading
    {
        font-size: 40px;
        line-height: 2.5;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 49%;
    }
    .button-font {
        color: white;
        font-size: 16px;
        margin-right: 10px;
    }
    .locationDropdown {
        height: 40px;
        width: 310px;
        color: gray;
        border: none;
        border-radius: 0px;
        font-size: 15px;
        opacity: 0.7;
        margin-right: 21px;
        margin-bottom: 25px;
        float: left;
    }
    
}